# ========================
# RepOne Backend - ENV
# ========================

PORT=3001

# PostgreSQL - Banco principal
MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_DB_NAME=repone
MASTER_DB_USER=postgres
MASTER_DB_PASS=

# JWT
JWT_SECRET=repone_mude_em_producao
JWT_EXPIRES_IN=24h

# Frontend (CORS)
FRONTEND_URL=http://localhost:5173

# ACBr API — NFS-e
ACBR_AMBIENTE=producao
ACBR_CLIENT_ID=
ACBR_CLIENT_SECRET=
